.headercenter{
   padding-top: 0.5vh;
   height: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
    font-size: 2em;
    font-family: mon;
    background-color: rgba(0, 0, 0, 0.174);
    
    position: sticky;
    top: 0;
    

}
.header{
    position: sticky;
    top: 0;
    z-index: 999;
}
p{
  display: flex;
    cursor: pointer;
    
    margin-block-start: 0;
    
}
p:after{
 
}
p:hover{
  color: orange;
  transition-delay:0.1s;
}