.bodycontent{
  height: 100%;
  width: 100%;
  background-image:  url("../road.jpg");
  
  background-repeat: no-repeat;
  background-size: 100% 100%;




}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.body{
  overflow-x: hidden;
  background-color:rgb(8, 8, 8);

}
